@mixin text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@mixin line-clamp($line) {
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line;
}

$font-color: #1B1C21; //默认字体颜色
$text-color: #515a6e;
$active-color: #3069e6;
$header-height: 50px; //默认顶部padding,用于是否有header部分
$border-color: #e4e7ed; //border颜色-浅